.connection__wrapper {
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: minmax(337px, 1fr);
  background: linear-gradient(to right, $color-sapphire 50%, $color-default-white 50%);

  @include vp-1023 {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    background: none;
  }
}

.connection__wrapper::before {
  position: absolute;
  content: "";
  right: 0;
  width: 50%;
  height: 1px;
  background-color: $color-light-slate-grey;

  @include vp-1023 {
    display: none;
  }
}
