.feedback {
  position: relative;
}

.feedback__container {
  padding: 23px 403px 120px;

  @include vp-1279 {
    padding: 22px 29% 120px;
  }

  @include vp-1023 {
    padding: 16px 101px 100px;
  }

  @include vp-767 {
    padding: 32px 47px 70px;
  }
}

.feedback h2 {
  @include font($ff-alumni-sans, 600, 54px, $color-sapphire, normal);
  letter-spacing: 1.62px;
  text-align: center;
  margin-bottom: 37px;

  @include vp-1023 {
    font-size: 42px;
    letter-spacing: 1.26px;
    margin-bottom: 40px;
  }

  @include vp-767 {
    font-size: 32px;
    letter-spacing: 0.96px;
    margin-bottom: 42px;
  }
}

.feedback__list {
  list-style: none;
  margin: 0;
  padding: 0;
  align-items: center;
}


.feedback__item {
  width: 560px;
  padding: 62px 62px 58px;
  display: grid;
  background-color: $color-resolution-blue;
  grid-template-areas: "img fio" "img description";
  column-gap: 28px;
  // height: auto; // раскомментировать для одинаковой высоты блоков при переполнении

  @include vp-1023 {
    width: 100%;
    padding-left: 65px;
    padding-right: 65px;
  }

  @include vp-767 {
    padding: 40px 40px 36px 41px;
    grid-template-areas: "img fio" "description description";
    column-gap: 15px;
    row-gap: 11px;
  }
}

.feedback__item picture {
  grid-area: img;

  @include vp-767 {
    width: 68px;
    height: 68px;
  }
}

.feedback__item img {
  background-color: $color-grey;
  border-radius: 50%;
}

.feedback__item h3 {
  @include font($ff-roboto, 700, 20px, $color-default-white, 150%);
  margin: -8px 0 12px 0;
  grid-area: fio;

  @include vp-767 {
    margin-top: 8px;
    line-height: 130%;
  }
}

.feedback__item p {
  @include font($ff-roboto, 400, 16px, $color-default-white, 140%);
  margin: 0;
  grid-area: description;

  @include vp-767 {
    padding: 0;
    margin: 0 0 0 -16px;
    text-align: center;
    min-width: 176px;
  }
}

.feedback__button {
  background-color: transparent;
  border: none;
  position: absolute;
  top: 51%;

  @include vp-1023 {
    top: 50.7%;
  }

  @include vp-767 {
    top: 54.4%;
  }
}

.feedback__button svg {
  cursor: pointer;

  @include vp-767 {
    width: 10px;
    height: 19px;
  }
}

.feedback__button--prev  {
  left: 24.8%;

  @include vp-1023 {
    left: 5%;
  }

  @include vp-767 {
    left: 2.5%;
  }
}

.feedback__button--next {
  right: 24.8%;

  @include vp-1023 {
    right: 5%;
  }

  @include vp-767 {
    right: 2.5%;
  }
}
