.footer {
  background-color: $color-black-russian;
}

.footer__container {
  padding: 43px 104px 32px;
  display: flex;
  justify-content: space-between;

  @include vp-1023 {
    padding: 46px 45px 36px;
  }

  @include vp-767 {
    padding: 47px 15px 44px;
    flex-direction: column;
    align-items: flex-start;
  }
}

.footer__logo {
  width: auto;
  height: auto;
  margin-top: 8px;

  @include vp-1023 {
    width: 82px;
    height: 18px;
    margin-top: 1.5px;
  }

  @include vp-767 {
    display: none;
  }
}

.footer__menu-item.footer__menu-item--logo {
  display: none;

  @include vp-767 {
    min-width: 68px;
    min-height: 15px;
    display: block;
    margin-top: 6px;
  }
}
