.intro__container {
  padding: 0 303px 51px 122px;
  display: flex;

  @include vp-1023 {
    padding: 19px 45px 82px;
  }

  @include vp-767 {
    width: 100%;
    padding: 18px 14px 79px 12px;
  }
}

.intro__description {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 377px;
  max-width: 397px;
  column-gap: 18px;
  margin-top: 88px;

  @include vp-1023 {
    width: 323px;
    margin-top: 49px;
    column-gap: 25px;
  }

  @include vp-767 {
    gap: 0;
    // width: auto;
    min-width: 100%;
  }
}

.intro__list {
  list-style: none;
  margin-bottom: 85px;
  padding: 0;
  align-self: flex-end;
  margin: 0 0 80px;

  @include vp-1023 {
    margin-bottom: 47px;
  }

  @include vp-767 {
    margin-bottom: 32px;
    margin-right: -7px;
  }
}

.intro__item {
  @include font($ff-roboto, 400, 14px, $color-default-white, 150%);
  text-align: end;
}

.intro__description-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.intro__description-wrapper p {
  @include font($ff-alumni-sans, 600, 48px, $color-default-white, normal);
  margin: 0 51px 15px 0;
  letter-spacing: 1.44px;

  @include vp-1023 {
    font-size: 34px;
    letter-spacing: 1.02px;
    margin-right: 5px;
    margin-bottom: 7px;
  }

  @include vp-767 {
    font-size: 28px;
    letter-spacing: 0.84px;
    margin-right: 3px;
    margin-bottom: 15.8px;
  }
}

.intro__description-wrapper h1 {
  @include font($ff-alumni-sans, 600, 92px, $color-default-white, normal);
  text-align: right;
  letter-spacing: 4.6px;
  text-transform: uppercase;
  margin: 0;

  @include vp-1023 {
    font-size: 72px;
    letter-spacing: 3.6px;
    text-transform: none;
  }
}

.intro__button {
  grid-column: 2/3;
  align-self: start;
  justify-self: end;
  width: 234px;
  margin-top: 5px;
  padding: 19px 0 20px;
  border: 4px solid $color-default-white;

  @include vp-1023 {
    width: 186px;
    margin-top: 11px;
    margin-right: -1px;
    padding: 20px 25px 19px;
  }

  @include vp-767 {
    grid-column: 1/-1;
    width: 100%;
    margin-top: 21px;
    padding: 21px 18px 20px;
  }
}

.intro img {
  margin-left: 62px;
  // position: relative;
  // top: -21px;
  margin-top: -22px;

  min-width: 500px;
  min-height: 556px;

  @include vp-1023 {
    margin-top: 0;
    margin-left: 30px;
    min-width: 324px;
    min-height: 390px;
  }

  @include vp-767 {
    display: none;
  }
}
