.intro__container {
  padding: 0 303px 30px 122px;
  display: flex;

  @include vp-1023 {
    padding: 19px 45px 82px;
  }

  @include vp-767 {
    padding: 18px 15px 79px 11px;
  }
}

.intro__description {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 377px;
  column-gap: 17px; //18
  margin-top: 89px;

  @include vp-1023 {
    width: 323px;
    // background-color: #fff;
    margin-top: 49px;
    column-gap: 25px;
  }

  @include vp-767 {
    gap: 0;
  }
}

.intro__list {
  list-style: none;
  margin-bottom: 85px;
  padding: 0;
  align-self: flex-end;

  @include vp-1023 {
    margin-bottom: 47px;
  }

  @include vp-767 {
    margin-bottom: 32px;
    margin-right: -10px;
  }
}

.intro__item {
  @include font($ff-roboto, 400, 14px, $color-default-white, 150%);
  // text-align: right;
  text-align: end;
}

.intro__description-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.intro__description-wrapper p {
  @include font($ff-alumni-sans, 600, 48px, $color-default-white, normal);
  margin: 0 51px 15px 0;
  letter-spacing: 1.44px;

  @include vp-1023 {
    font-size: 34px;
    letter-spacing: 1.02px;

    margin-right: 2px;
    margin-bottom: 7px;
  }

  @include vp-767 {
    font-size: 28px;
    letter-spacing: 0.84px;

    margin-right: 3px;
    margin-bottom: 14.8px;
  }
}

.intro__description-wrapper h1 {
  @include font($ff-alumni-sans, 600, 92px, $color-default-white, normal);
  text-align: right;
  letter-spacing: 4.6px;
  text-transform: uppercase;
  margin: 0 0 -19px;
  text-align: end;

  @include vp-1023 {
    font-size: 72px;
    letter-spacing: 3.6px;
    margin: 0;
    text-transform: none;
  }
}

.intro__button {
  // @include font($ff-roboto, 700, 12px, $color-default-white, normal);
  // letter-spacing: 0.6px;
  width: 233px;
  grid-column: 2/3;
  align-self: start;
  justify-self: end;
  padding: 19px 0 20px 2px;
  border: 4px solid $color-default-white;

  @include vp-1023 {
    // box-sizing: border-box;
    width: 186px;
    margin-top: 11px;
    margin-right: -2px;
    padding: 20px 25px 19px;
  }

  @include vp-767 {
    grid-column: 1/-1;
    width: 100%;
    margin-top: 22px;
    padding: 21px 18px 20px;
  }
}

.intro img {
  margin-left: 64px;
  position: relative;
  top: -22px;

  @include vp-1023 {
    margin-left: 30px;
    position: static;
    width: 324px;
    height: 390px;
  }

  @include vp-767 {
    display: none;
  }
}
