.promo {}

.promo__container {
  padding: 55px 103px 50px;

  @include vp-1023 {
    padding: 56px 45px 40px;
  }

  @include vp-767 {
    padding: 36px 15px 5px;
  }
}

.promo h2 {
  @include font($ff-alumni-sans, 600, 54px, $color-sapphire, normal);
  letter-spacing: 1.62px;
  text-align: center;
  margin-bottom: 34px;

  @include vp-1023 {
    font-size: 42px;
    letter-spacing: 1.26px;
    margin-bottom: 40px;
  }

  @include vp-767 {
    font-size: 32px;
    letter-spacing: 0.96px;
    margin-bottom: 42px;
  }
}

.promo__description {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px;

  @include vp-1023 {
    grid-template-columns: 1fr;
    gap: 30px;
  }

}

.promo__description-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  // grid-template-rows: 1fr;

  margin: 0;
  padding: 0;

  @include vp-1023 {
    grid-template-columns: 1fr auto;
  }

  @include vp-767 {
    grid-template-columns: 1fr;
  }
}

.promo__description-text {
  background-color: $color-torch-red-bg;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 45px;
  // height: 462px;
  min-height: fit-content;


  @include vp-767 {
    text-align: center;
  }
}

.promo__description-wrapper img {
  height: 100%;
  // width: 100%;
  object-fit: cover;

  @include vp-1023 {
    width: 399px;
    // height: 462px;
  }

  @include vp-767 {
    width: 100%;
  }
}

.promo__description-text h3 {
  @include font($ff-roboto, 700, 28px, $color-default-white, 156%);
  // margin: 0;
  margin-top: -7px;
  margin-bottom: -20px;
  // padding: 0;

  @include vp-1023 {
    margin-bottom: -22px;
  }

  @include vp-767 {
    margin-top: -11px;
    margin-bottom: -23px;
  }
}

.promo__description-text span {
  @include font($ff-roboto, 700, 70px, $color-default-white, 156%);
  // margin: 0;
  // margin-top: -20px;
  // padding: 0;
  // margin-bottom: 0;

  @include vp-1023 {}

  @include vp-767 {}
}

.promo__description-text p {
  @include font($ff-roboto, 400, 18px, $color-default-white, 140%);
  // margin: 0;
  // padding: 0;
  margin-top: -10px;

  @include vp-1023 {
    margin-top: -8px;
  }

  @include vp-767 {}
}

.promo__description-text a {
  @include font($ff-roboto, 700, 14px, $color-default-white, normal);
  letter-spacing: 0.7px;
  text-transform: uppercase;
  // text-decoration: underline;
  // display: inline-block;
  // padding-right: 0;
  padding-bottom: 3px;
  border-bottom: 1px solid $color-default-white;
  width: min-content;

  @include vp-1023 {}

  @include vp-767 {
    margin-top: 13px;
    padding-bottom: 1px;
    align-self: center;
  }
}
