.super-games__date {
  justify-self: baseline;
}

.super-games__date-wrapper {
  display: grid;
  grid-template-columns: repeat(2, min-content);
  column-gap: 0;
  margin: 0;
  padding: 0;
  margin-top: -4px;

  @include vp-1023 {
    margin-top: -15px;
    column-gap: 0;
  }

  @include vp-767 {
    margin-left: -2px;
    margin-top: -14px;
  }
}

.super-games__date-month-wrapper {
  margin-top: 3px;

  @include vp-1023 {
    margin-top: 6px;
    margin-left: -3px;
  }

  @include vp-1023 {
    margin-left: -3px;
    margin-top: 5px;
  }
}

.super-games__date-month-wrapper p {
  @include font($ff-roboto, 400, 14px, $color-default-white, 16px);
  margin-left: 7px;

  @include vp-1023 {
    font-size: 10px;
    line-height: 130%;
  }
}
