.tickets__content {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  width: 100%;

  position: relative;
  z-index: 1;
}

.tickets__content-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(3, 360px);
  align-items: center;
  gap: 40px;
  max-width: 1163px;

  @include vp-1279 {
    grid-template-columns: repeat(2, 360px);
  }

  @include vp-1023 {
    grid-template-columns: 1fr;
  }

  @include vp-767 {
    gap: 35px;
  }
}

.tickets__content-item {
  margin: 0;
  padding: 62px 74px 55px 80px;
  background-color: $color-default-white;
  max-width: 360px;
  min-height: 448px;
  height: 100%;
  display: block;
  text-align: center;
  hyphens: auto;

  &:hover {
    // outline: 7px solid $color-crimson;
    // outline-offset: -7px;
    // cursor: pointer;
    padding: 55px 67px 48px 73px;

    border: 7px solid  $color-crimson;
    border-image: $blue-to-red-linear;
    border-image-slice: 1;

    @include vp-1023 {
      padding: 57px 103px 55px;
    }
    @include vp-767 {
      padding: 45px 51px 0;
    }
  }

  @include vp-1023 {
    max-width: 442px;
    width: 442px;
    min-height: 448px;
    padding: 59px 110px 62px;
  }

  @include vp-767 {
    max-width: 290px;
    min-height: 384px;
    padding: 52px 58px 0;
  }
}

.tickets__content-item h3 {
  @include font($ff-roboto, 700, 26px, $color-sapphire, 152.344%);
  margin: 0;

  @include vp-767 {
    font-size: 22px;
    line-height: 110.16%;
  }
}

.tickets__content-item p:first-of-type {
  @include font($ff-roboto, 400, 16px, $color-chambray, 150%);
  margin: 4px 0 11px;

  @include vp-1023 {
    margin-bottom: 12px;
  }

  @include vp-767 {
    margin: 8px 8px 10px;
  }
}

.tickets__content-price {
  position: relative;
  margin-bottom: 33px;

  @include vp-767 {
    margin-bottom: 29px;
  }
}

.tickets__content-price svg {
  @include vp-767 {
    width: 24px;
    height: 33px;
  }
}

.tickets__content-price p:last-of-type {
  @include font($ff-roboto, 700, 60px, $color-egyptian-blue, 150%);
  padding: 0;
  position: absolute;
  top: -5px;
  left: 19px;

  @include vp-1023 {
    left: 28px;
  }

  @include vp-767 {
    font-size: 48px;
    top: -2px;
    left: 23px;
  }
}

.tickets__content-price p:first-of-type {
  @include font($ff-roboto, 700, 100px, $color-whisper, 150%);
  margin: 0;

  @include vp-767 {
    font-size: 80px;
  }
}

.tickets__element-button {
  color: $color-sapphire;
  outline: 2px solid $color-sapphire;
  margin-top: -5px;
  outline-offset: -1px;
  padding: 26px 45px 26px 44px;
  display: inline-block;

  &:hover {
    background: $red-to-blue;
    outline: none;
    color: $color-default-white;
  }
  @include vp-1023 {
    margin-top: -6px;
    padding-top: 27px;
    padding-bottom: 28px;
    outline-offset: -3px;
  }

  @include vp-767 {
    margin-top: -3px;
    margin-left: -16.5px;
    width: 206px;
    outline-offset: -2px;
  }
}
