.tickets__content {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  width: 100%;
  // border: 2px solid red;
}

.tickets__content-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  gap: 40px;

  @include vp-1023 {
    grid-template-columns: 1fr;
  }
}

.tickets__content-item {
  // display: flex;
  // flex-wrap: wrap;
  // flex-direction: column;
  // align-items: center;
  margin: 0;
  padding: 0;
  z-index: -2;
  padding: 59px 74px 55px 80px;
  background-color: $color-default-white;
  max-width: 360px;
  min-height: 448px;
  height: 100%;
  display: block;
  text-align: center;

  &:hover {
    z-index: 10000;
    // background-color: red;
    box-sizing: border-box;
    outline: 7px solid $color-crimson;
    outline-offset: -7px;
    cursor: pointer;
  }

  @include vp-1023 {
    min-width: 442px;
    min-height: 448px;
    padding: 68px 118px;
  }
}

.tickets__content-item:hover {
  background-color: red;
}

.tickets__content-item h3 {
  @include font($ff-roboto, 700, 26px, $color-sapphire, 152.344%);
  margin: 0;
}

.tickets__content-item p:first-of-type {
  @include font($ff-roboto, 400, 16px, $color-chambray, 150%);
  margin: 4px 0 0;
}

.tickets__content-price {
  position: relative;
  margin-bottom: 33px;
}

.tickets__content-price p:last-of-type {
  @include font($ff-roboto, 700, 60px, $color-egyptian-blue, 150%);
  padding: 0;
  margin: 66px -5px 0 -5px;
}

.tickets__content-price p:first-of-type {
  @include font($ff-roboto, 700, 100px, $color-whisper, 150%);
  position: absolute;
  margin: 0;
  bottom: -5px;
  left: 0;
  z-index: -1;
}

.tickets__element-button {
  color: $color-sapphire;
  outline: 2px solid $color-sapphire;
  outline-offset: -1px;
  padding-top: 26px;
  padding-bottom: 26px;
  padding-left: 44px;
  padding-right: 45px;
  // max-width: 100%;
  // width: 360px;
  display: inline-block;
  // padding: 44px;
  // z-index: 10;

  @include vp-1279 {
    padding-left: 20px;
    padding-right: 20px;
  }
}
