.trainers__info {
  // padding: 58px 57px;
  background-color: rgba(16, 38, 84, 0.89);
  width: 100%;
  padding: 0;
  height: 100%;
}

.trainers__info h4 {
  @include font($ff-roboto, 700, 18px, $color-default-white, 150%);
  text-align: center;
  display: block;
  margin: 0;
  margin-top: 51px;
  padding: 0;

  @include vp-1023 {
    margin-left: -7px;
  }

  @include vp-767 {
    margin-top: 41px;
    margin-left: 0;
  }
}

.trainers__info p {
  @include font($ff-roboto, 400, 16px, $color-spindle, 150%);
  text-align: center;
  margin: 0;
  // padding: 0;
  margin-top: -3px;
  margin-bottom: 33px;
  margin-left: 0;

  @include vp-1023 {
    margin-left: -7px;
  }

  @include vp-767 {
    margin-left: 0;
  }
}

.trainers__info-list {
  list-style: none;
  // list-style-type: disc;
  // display: flex;
  // flex-direction: column;
  // // justify-items: center;
  // // align-items: center;
  // width: 100%;
  // list-style: upper-roman;
  // list-style-position: inside;
}



.trainers__info-item {
  @include font($ff-roboto, 400, 14px, $color-default-white, 150%);
  margin: 0;
  padding: 0;
  margin-bottom: 13px;
  margin-left: 31px;
  margin-right: 10px;
  position: relative;

  @include vp-767 {
    margin-left: 10px;
  }
}

.trainers__info-item:before {
  content: "·";
  position: absolute;
  font-size: 1.1em;
  font-size: 50px;
  left: -19px;
  top: 1px;
}
